@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#navigation {
  transition-duration: 0.2s;
}
#navigation a,
#navigation i {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#navigation a:hover i,
#navigation i:hover i {
  transform: scale(1.5) rotate(10deg);
  -webkit-transform: scale(1.5) rotate(10deg);
  -moz-transform: scale(1.5) rotate(10deg);
  -ms-transform: scale(1.5) rotate(10deg);
  -o-transform: scale(1.5) rotate(10deg);
}
#navigation a a,
#navigation i a {
  font-family: "Varela Round", sans-serif;
}
#navigation img {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.ss {

  background-color: rgba(0, 0, 0);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0);
}

ul li:hover .ss {
  display: block !important;
}

.home {
  width: 100%;
  background-image: url("https://avatars.mds.yandex.net/get-ynews/2371987/295bde68c808b8f4c2df2cd30b7b4cde/orig");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.home:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}
.home .centerText {
  position: relative;
  z-index: 22;
}
.home h1,
.home .knopka {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(60, 151, 190);
  border-radius: 10px;
}

.counter {
 
  background-size: cover;
  background-position: center;
}

.news {
  background: url("https://catherineasquithgallery.com/uploads/posts/2021-03/1614795901_74-p-fon-dlya-meditsinskoi-prezentatsii-83.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.news .longCard {
  backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(0, 0, 0, 1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.owl {
  background: url("../images/back.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0 !important;
}

.row {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
}

li {
  text-align: justify;
}

.footer {
  background-color: rgb(33, 37, 41);
  padding: 70px 0;
}

.footer-col {
  width: 25% !important;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
@media (max-width: 1122px) {
  #navigation nav .icons {
    display: none !important;
  }
  .links {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .footer .row {
    padding: 10px;
    flex-wrap: wrap !important;
  }
  .footer .row .footer-col {
    width: 100% !important;
  }
}
@media (min-width: 1220px) {
  .card .card-body .col-sm-3 a {
    font-size: 12px;
  }
}
::selection {
  background-color: red;
  color: white;
}

.item-content {
  height: 600px !important;
  overflow: auto;
}

@media (max-width: 576px) {
  .owl .owl-item img {
    width: 100% !important;
  }
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.containert {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.containert::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 15px 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .containert {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .containert::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/*# sourceMappingURL=style.css.map */

@media (max-width:768px){
  .carousel-item img{
height: 25vh !important;   
  }
  
}




@media (max-width:800px){
  #images img{
    width: 400px !important;
    height: 400px !important;
    }
}

@media (max-width:600px){
  #images img{
    width: 150px !important;
    height: 150px !important;
    }
}


#picture img{
  width:350px; 
  height: 300px;
}

#images2 iframe{
  width: 200px !important;
  height: 187px !important;
  border-radius: 5px;
}



@media (max-width:1024px){
  #images2 iframe{
    width: 210px !important;
    height: 150px !important;
    }
}


@media (max-width:600px){
  #images2 iframe{
    width: 150px !important;
    height: 150px !important;
    }
}







/* carousel */

#images img{
  width: 250px !important;
  height: 200px !important;
  display: block !important;
  margin: auto !important;
}

#images span{
  color:#24262b !important;
}


#picture img{
  width: 250px !important;
  height: 200px !important;
  display: block !important;
  margin: auto !important;
}

#picture span{
  color:#24262b !important;
}


@media (max-width:1024px){
  #images img{
    width: 180px !important;
    height: 150px !important;
    display: block !important;
    margin: auto !important;
  }
  
  #images span{
    color:#24262b !important;
  }
  
}


@media (max-width:1024px){
  #picture img{
    width: 200px !important;
    height: 150px !important;
    display: block !important;
    margin: auto !important;
  }
  
  #images span{
    color:#24262b !important;  
  }
  
}


.owl-nav{
  display: none !important;
}


@media (max-width:600px){
  .owl .owl-item img{
    
      width:90px !important;
    
   
  }

  .owl-carousel  h6{
    font-size: 12px !important;
  }
}




@media (max-width:2000px){
  .owl .owl-item img{
    
      width:90px !important;
    
   
  }

  .owl-carousel  h6{
    font-size: 16px !important;
  }
}

/* loader */




#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index:444444444;
  background: rgb(85,88,85);
  background: linear-gradient(0deg, rgba(85,88,85,0.9836309523809523) 0%, rgba(1,6,13,0.9724264705882353) 100%);
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #bdbdbd;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #d6cfd8;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f1d5f1;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
.loaded{
  overflow:hidden;
}

.no-loaded{
  overflow:auto !important;
}

