@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body{
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.08'%3E%3Cpath fill='%23f3d9ff' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23e7b4ff' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23da8eff' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ce69ff' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23C243FF' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23c458ff' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23c76cff' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23cc81ff' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23d195ff' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23D8AAFF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#navigation {
  transition-duration: 0.2s;
}
#navigation a,
#navigation i {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#navigation a:hover i,
#navigation i:hover i {
  transform: scale(1.5) rotate(10deg);
  -webkit-transform: scale(1.5) rotate(10deg);
  -moz-transform: scale(1.5) rotate(10deg);
  -ms-transform: scale(1.5) rotate(10deg);
  -o-transform: scale(1.5) rotate(10deg);
}
#navigation a a,
#navigation i a {
  font-family: "Varela Round", sans-serif;
}
#navigation img {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.ss {
  background-color: rgba(0, 0, 0);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0);
}

ul li:hover .ss {
  display: block !important;
}

.home{
  width: 100%;
  background-image: url("https://avatars.mds.yandex.net/get-ynews/2371987/295bde68c808b8f4c2df2cd30b7b4cde/orig");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  left: 0 !important ;
 
}


/* .home2{
  animation: animateBg 14s linear infinite;
  background-image: linear-gradient(90deg,#707070,#3f4040,#99a4a8,#707070,#3f4040);
  background-size: 400% 100%;
}

@keyframes animateBg {
  0% { background-position: 100% 0%; }
  100% { background-position: 0% 0%; }
} */


.home .centerText {
  position: relative;
  z-index: 22;
}
.home h1,
.home .knopka {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(60, 151, 190);
  border-radius: 10px;
}

.counter {
 
  background-size: cover;
  background-position: center;
}

/* .news {
  background: url("https://catherineasquithgallery.com/uploads/posts/2021-03/1614795901_74-p-fon-dlya-meditsinskoi-prezentatsii-83.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */
.news .longCard {
  backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);

}



.owl {

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0 !important;
}

.row {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
}

li {
  text-align: justify;
}

.footer {
  background-color: rgb(33, 37, 41);
  padding: 70px 0;
}

.footer-col {
  width: 25% !important;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
@media (max-width: 1122px) {
  #navigation nav .icons {
    display: none !important;
  }
  .links {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .footer .row {
    padding: 10px;
    flex-wrap: wrap !important;
  }
  .footer .row .footer-col {
    width: 100% !important;
  }
}
@media (min-width: 1220px) {
  .card .card-body .col-sm-3 a {
    font-size: 12px;
  }
}
::selection {
  background-color: red;
  color: white;
}

.item-content {
  height: 600px !important;
  overflow: auto;
}

@media (max-width: 576px) {
  .owl .owl-item img {
    width: 100% !important;
  }
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.containert {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.containert::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 15px 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .containert {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .containert::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/*# sourceMappingURL=style.css.map */

@media (max-width:768px){
  .carousel-item img{
height: 25vh !important;   
  }
  
}




@media (max-width:800px){
  #images img{
    width: 400px !important;
    height: 400px !important;
    }
}

@media (max-width:600px){
  #images img{
    width: 150px !important;
    height: 150px !important;
    }
}


#picture img{
  width:350px; 
  height: 300px;
}

#images2 iframe{
  width: 200px !important;
  height: 187px !important;
  border-radius: 5px;
}



@media (max-width:1024px){
  #images2 iframe{
    width: 210px !important;
    height: 150px !important;
    }
}


@media (max-width:600px){
  #images2 iframe{
    width: 150px !important;
    height: 150px !important;
    }
}







/* carousel */

#images img{
  width: 250px !important;
  height: 200px !important;
  display: block !important;
  margin: auto !important;
}

#images span{
  color:#24262b !important;
}


#picture img{
  width: 250px !important;
  height: 200px !important;
  display: block !important;
  margin: auto !important;
}

#picture span{
  color:#24262b !important;
}


@media (max-width:1024px){
  #images img{
    width: 180px !important;
    height: 150px !important;
    display: block !important;
    margin: auto !important;
  }
  
  #images span{
    color:#24262b !important;
  }
  
}


@media (max-width:1024px){
  #picture img{
    width: 200px !important;
    height: 150px !important;
    display: block !important;
    margin: auto !important;
  }
  
  #images span{
    color:#24262b !important;  
  }
  
}


.owl-nav{
  display: none !important;
}


@media (max-width:600px){
  .owl .owl-item img{
    
      width:90px !important;
    
   
  }

  .owl-carousel  h6{
    font-size: 12px !important;
  }
}




@media (max-width:2000px){
  .owl .owl-item img{
    
      width:90px !important;
    
   
  }

  .owl-carousel  h6{
    font-size: 16px !important;
  }
}

/* loader */




#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index:444444444;
  background-color: #301233;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23FF35FC' stroke-width='4.6' stroke-opacity='0.02' %3E%3Ccircle fill='%23301233' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%232f1132' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%232e1131' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%232d1030' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%232b102f' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%232a0f2f' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23290e2e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23280e2d' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23270d2c' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23260d2b' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23250c2a' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23240b29' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23230a28' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23220927' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23210827' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23200726' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%231f0625' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%231E0524' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #bdbdbd;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #d6cfd8;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f1d5f1;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
.loaded{
  overflow:hidden;
}

.no-loaded{
  overflow:auto !important;
}


.activeDarkMode{
  transition:0.2s;
  background:black !important;
}



.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.label-text {
  margin-left: 16px;
}



/* .shadowHandle{
  box-shadow: 15px 7px 10px #dee4ed !important;
} */


.centerText h4, .centerText h1{
color:grey;
}


.news h1{
  color:black;
}

/* .whiteDark{
  background: #fff !important;
  clip-path: polygon(0 0, 33% 0, 40% 100%, 0 100%);
} */



/* for mob fdark mode */


.bg-Handle{
  background:#212529 !important;
}

.oq{
  color:white !important;
}


