<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../../sass/admin.css" />

    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.bubble.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css"
      rel="stylesheet"
    />



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body id="adminPage">
    <header class="page-header">
      <nav>
        <a href="../../index.html" aria-label="forecastr logo" class="logo">
          <img
            src="../../images/adminLogo.png"
            alt=""
            style="width: 50%; margin-left: 20%"
          />
        </a>
        <button
          class="toggle-mob-menu"
          aria-expanded="false"
          aria-label="open menu"
        >
          <svg width="20" height="20" aria-hidden="true">
            <use xlink:href="#down"></use>
          </svg>
        </button>
        <ul class="admin-menu">
          <li class="menu-heading">
            <h3>Admin</h3>
          </li>
          <li>
            <a href="AdminPage.html">
              <svg>
                <use xlink:href="#pages"></use>
              </svg>
              <span class="text-light">Yangiliklar</span>
            </a>
          </li>
          <li>
            <a href="emlanganlar.html">
              <svg>
                <use xlink:href="#users"></use>
              </svg>
              <span class="text-white">Emlanganlar</span>
            </a>
          </li>
          <li>
            <a href="fotolavhalar.html">
              <svg>
                <use xlink:href="#trends"></use>
              </svg>
              <span class="text-white">Fotolavhalar</span>
            </a>
          </li>
          <li>
            <a href="videolavhalar.html">
              <svg>
                <use xlink:href="#collection"></use>
              </svg>
              <span class="text-light">Videolavhalar</span>
            </a>
          </li>

          <li>
            <a href="xodimlar.html">
              <svg>
                <use xlink:href="#collection"></use>
              </svg>
              <span class="text-light">Xodimlar</span>
            </a>
          </li>
        
          <li></li>
        </ul>
      </nav>
    </header>

    <div id="app" class="page-content">
      <img src="../../images/Sticker.png" alt="">
      <h1 class=" p-4 text-muted">Emlanganlar</h1>
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <form id="forma">
                <div class="form-outline">
                  <input
                    type="text"
                    id="typeText"
                    class="form-control p-2"
                    v-model="birinchi"
                  />
                  <label class="form-label" for="typeText">birinchi doza</label>
                </div>

                <div class="form-outline mt-4">
                  <input type="text" id="typeText" class="form-control p-2"  v-model="ikkinchi"/>
                  <label class="form-label" for="typeText">ikkinchi doza</label>
                </div>

                <div class="form-outline mt-4">
                  <input type="text" id="typeText" class="form-control p-2" v-model="uchinchi"/>
                  <label class="form-label" for="typeText">uchinchi doza</label>
                </div>

                <div class="form-outline mt-4">
                  <input type="text" id="typeText" class="form-control p-2"  v-model="jami"/>
                  <label class="form-label" for="typeText">jami doza</label>
                </div>

                <div class="form-outline mt-4">
                  <input
                    type="text"
                    id="typeTextPattern"
                    class="form-control p-2"
                    placeholder="22/07/2022  shu kabi ko'rinishda kiriting"
                    v-model="date"
                  />
                </div>

                <button type="submit" class="btn btn-primary mt-3 w-100 m-auto d-flex align-items-center gap-2 justify-content-center"  @click="addDoza">
                <span class="fa fa-plus-square-o fa-2x"></span>  Postni joylash
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"
    ></script>

    <script src="../../scripts/admin.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.0"></script>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          birinchi: "",
          ikkinchi:"",
          uchinchi:"",
          jami:"",
          date:""
        },


       methods: {

       async addDoza(e){
        let btn = document.querySelector('.btn')
        e.preventDefault();

        if(app.$data.birinchi !== '' && app.$data.ikkinchi !=='' &&  app.$data.uchinchi !=='' && app.$data.jami !=='' && app.$data.date !== ''){
          btn.setAttribute('disabled', '')
          await axios.post('https://sirses.herokuapp.com/api/Vaccinations', {
  vaccination1:app.$data.birinchi,
      vaccination2:app.$data.ikkinchi,
      vaccination3:app.$data.uchinchi,
       all:app.$data.jami,
       date:app.$data.date
}, 

{
  headers: {
       "Content-Type": "application/json",
    'Authorization': `Bearer ${localStorage.getItem('jwt')}`,
  },
}

).then(el => {
 
 if(el.status == '200'){
  console.log(el);
  btn.removeAttribute('disabled')
  alert('muvaffaqiyatli  joylandi')
  app.$data.birinchi = ''
  app.$data.ikkinchi = ''
  app.$data.uchinchi = ''
  app.$data.jami = ''
  app.$data.date = ''
 }
})

}else{
  alert('bush maydon mavjud')
}

     



        }
       },
      });
    </script>

 



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
