<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../../sass/admin.css" />

    <link
      href="https://cdn.quilljs.com/1.3.6/quill.bubble.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css"
      rel="stylesheet"
    />
  </head>
  <body id="adminPage">
    <header class="page-header">
      <nav>
        <a href="../../index.html" aria-label="forecastr logo" class="logo">
          <img
            src="../../images/adminLogo.png"
            alt=""
            style="width: 50%; margin-left: 20%"
          />
        </a>
        <button
          class="toggle-mob-menu"
          aria-expanded="false"
          aria-label="open menu"
        >
          <svg width="20" height="20" aria-hidden="true">
            <use xlink:href="#down"></use>
          </svg>
        </button>
        <ul class="admin-menu">
          <li class="menu-heading">
            <h3>Admin</h3>
          </li>
          <li>
            <a href="AdminPage.html">
              <svg>
                <use xlink:href="#pages"></use>
              </svg>
              <span class="text-light">Yangiliklar</span>
            </a>
          </li>
          <li>
            <a href="emlanganlar.html">
              <svg>
                <use xlink:href="#users"></use>
              </svg>
              <span class="text-white">Emlanganlar</span>
            </a>
          </li>
          <li>
            <a href="fotolavhalar.html">
              <svg>
                <use xlink:href="#trends"></use>
              </svg>
              <span class="text-white">Fotolavhalar</span>
            </a>
          </li>
          <li>
            <a href="videolavhalar.html">
              <svg>
                <use xlink:href="#collection"></use>
              </svg>
              <span class="text-light">Videolavhalar</span>
            </a>
          </li>

          <li>
            <a href="xodimlar.html">
              <svg>
                <use xlink:href="#collection"></use>
              </svg>
              <span class="text-light">Xodimlar</span>
            </a>
          </li>

          <li></li>
        </ul>
      </nav>
    </header>

    <div id="app" class="page-content">
      <img src="../../images/Sticker.png" alt="">
      <h1 class="text-end p-4">Fotosurat qo'shish</h1>
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="form-outline">
                <input
                  type="text"
                  id="formControlLg"
                  class="form-control form-control-lg"
                  v-model="title"
                />
                <label class="form-label" for="formControlLg"
                  >Fotosurat sarlavhasi</label
                >
              </div>

              <div class="form-outline mt-3">
                <input
                  type="text"
                  id="formControlLg"
                  class="form-control form-control-lg"
                  v-model="about"
                />
                <label class="form-label" for="formControlLg"
                  >Fotosurat haqida</label
                >
              </div>

              <div class="form-outline">
                <input
                  type="file"
                  id="gg"
                  class="form-control form-control-lg mt-3"
                  v-model="file"
                  ref="file"
                  v-on:change="handleFileUpload()"
                />
              </div>

              <button
                type="button"
                class="btn btn-primary mt-3 float-end"
                v-on:click="fileAdd"
                id="knopka"
              >
                qo'shish
              </button>
            </div>

            <div>
              <div class="col-12 mt-3">
                <h1>Fotosuratni o'chirish</h1>
                <input
                  type="text"
                  id="formControlLg"
                  class="form-control form-control-lg mt-3"
                  placeholder="fotosuratni o'chirish uchun fotosurat id sini kiriting"
                  v-model = 'delId'
                />

                <button type="button" class="btn btn-danger mt-3 float-end"  v-on:click = 'deleteFile'   id="wait">
                  o'chirish
                </button>
              </div>
            </div>
          </div>
        </div>  
      </div>

      <table class="table align-middle mb-0 mt-4 bg-white">
        <thead class="bg-light">
          <tr>
            <th class="fw-bold fs-3 text-muted">Fotosurat</th>
            <th class="fw-bold fs-3 text-muted">Fotosurat haqida</th>
            <th class="fw-bold fs-3 text-muted">id</th>
            <th class="fw-bold fs-3 text-muted">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items" :key="item.id">
            <td class="w-50">
              <img :src="item.image" alt="" class="img img-fluid w-25" />
            </td>

            <td>
              <p class="fw-bold fs-4">{{item.title}} <br>  <p class="w-100  overflow-hidden" style="height: 100px;">{{item.description}}</p></p>
             
            </td>

            <td>{{item.id}}</td>
            <td>
              <span class="badge badge-success rounded-pill d-inline"
                >Active</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"
    ></script>

    <script src="../../scripts/admin.js"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          file: "",
          title: "",
          about: "",
          items: [],
          delId:''
        },

        methods: {
          async fileAdd() {
            let knopka = document.querySelector("#knopka");
            let input = document.getElementById("gg");
            let formData = new FormData();
            knopka.setAttribute("disabled", "");
            formData.append("file", input.files[0]);
            if (
              app.$data.file !== "" &&
              app.$data.title !== "" &&
              app.$data.about !== ""
            ) {
              await axios
                .post(`https://sirses.herokuapp.com/api/Files`, formData, {
                  headers: {
                    "Content-Type": "multipart/form-data",
                    Authorization: `Bearer ${localStorage.getItem("jwt")}`,
                  },
                })
                .then((el) => {
                  let id = el.data;
                  let url = `https://sirses.herokuapp.com/api/Files/${id}`;
                  axios
                    .post(
                      `https://sirses.herokuapp.com/api/Photos`,
                      {
                        title: app.$data.title,
                        description: app.$data.about,
                        image: url,
                      },
                      {
                        headers: {
                          "Content-Type": "application/json",
                          Authorization: `Bearer ${localStorage.getItem(
                            "jwt"
                          )}`,
                        },
                      }
                    )
                    .then((res) => {
                      console.log(res.status);
                      if(res.status == 200){
alert("rasm muvaffaqiyatli qo'shildi")
app.$data.title = ''
app.$data.about = ''
                      }
                      knopka.removeAttribute("disabled");
                    });
                });
            } else {
              alert("bo'sh maydon mavjud to'ldirishingiz majburiy");
            }
          },

          async deleteFile(){
            let wait = document.querySelector('#wait');
            wait.setAttribute('disabled', '')
            if(app.$data.delId !== ''){
              await axios({
              method: "delete",
              url: `https://sirses.herokuapp.com/api/Photos?id=${app.$data.delId}`,
              headers: {
                Authorization: `Bearer ${localStorage.getItem("jwt")}`,
                "Content-Type": " application/json",
              },
            }).then(del => {
              wait.removeAttribute('disabled')
              if(del.status == 200){
                alert('muvaffaqiyatli o"chirildi')
                app.$data.delId = ''
              }
            })
            }else{
              alert("id kiritilmadi")
            }
         
          },

          handleFileUpload() {
            app.$data.file = app.$refs.file.files[0];
            console.log(app.$refs.file.files[0]);
          },
        },

        async mounted() {
          await axios
            .get("https://sirses.herokuapp.com/api/Photos")
            .then((res) => {
              res.data.forEach((el) => {
                app.$data.items.push(el);
                console.log(el);
              });
            });
        },
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
