<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../../sass/admin.css" />

    <link
      href="https://cdn.quilljs.com/1.3.6/quill.bubble.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css"
      rel="stylesheet"
    />




    <style>
     iframe{
      width:180px !important;
      height: 150px;
      border-radius: 10px;
     }
    </style>
  </head>

  <body id="adminPage">
    <header class="page-header">
      <nav>
        <a href="../../index.html" aria-label="forecastr logo" class="logo">
          <img
            src="../../images/adminLogo.png"
            alt=""
            style="width: 50%; margin-left: 20%"
          />
        </a>
        <button
          class="toggle-mob-menu"
          aria-expanded="false"
          aria-label="open menu"
        >
          <svg width="20" height="20" aria-hidden="true">
            <use xlink:href="#down"></use>
          </svg>
        </button>
        <ul class="admin-menu">
          <li class="menu-heading">
            <h3>Admin</h3>
          </li>
          <li>
            <a href="AdminPage.html">
              <svg>
                <use xlink:href="#pages"></use>
              </svg>
              <span class="text-light">yangiliklar</span>
            </a>
          </li>
          <li>
            <a href="emlanganlar.html">
              <svg>
                <use xlink:href="#users"></use>
              </svg>
              <span class="text-white">Emlanganlar</span>
            </a>
          </li>
          <li>
            <a href="fotolavhalar.html">
              <svg>
                <use xlink:href="#trends"></use>
              </svg>
              <span class="text-white">Fotolavhalar</span>
            </a>
          </li>
          <li>
            <a href="videolavhalar.html">
              <svg>
                <use xlink:href="#collection"></use>
              </svg>
              <span class="text-light">Videolavhalar</span>
            </a>
          </li>

          <li></li>
        </ul>
      </nav>
    </header>

    <div id="app" class="page-content">
      <h1 class="text-center p-4">Video qo'shish</h1>

      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="form-outline">
                <input
                  type="text"
                  id="formControlLg"
                  class="form-control form-control-lg"
                  v-model="link"
                />
                <label class="form-label" for="formControlLg">video</label>
              </div>

              <button
                type="button"
                class="btn btn-primary mt-3 float-end"
                @click="addLink"
              >
                qo'shish
              </button>
            </div>

            <div>
              <div class="col-12">
                <h1 class="text-center">Videoni o'chirish</h1>
                <input
                  type="text"
                  id="formControlLg"
                  class="form-control form-control-lg mt-3"
                  placeholder="video id sini kiriting"
                  v-model="delLink"
                />

                <button
                  type="button"
                  class="btn btn-danger mt-3 float-end"
                  @click="dellLink"
                >
                  o'chirish
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <table class="table align-middle mb-0 mt-4 bg-white">
        <thead class="bg-light">
          <tr>
            <th class="fw-bold fs-3">Video</th>
            <th>id</th>
            <th>Status</th>

           
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items" :key="item.id">
            <td>
              <div class="">
                <div v-html="item.link" > {{ item.link }}</div>
                <div class="ms-3">
                 
                </div>
              </div>
            </td>
            <td>
              {{item.id}}
            </td>
            <td>
              <span class="badge badge-success rounded-pill d-inline"
                >Active</span
              >
            </td>
          
          </tr>
        </tbody>
      </table>
    </div>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"
    ></script>

    <script src="../../scripts/admin.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          link: "",
          delLink: "",
          items: [],
          
        },

        methods: {
          addLink() {
            console.log(app.$data.link);

            axios
              .post(
                "https://sirses.herokuapp.com/api/Videos",
                {
                  link: app.$data.link,
                },
                {
                  headers: {
                    "Content-Type": "application/json",
                    Authorization: `Bearer ${localStorage.getItem("jwt")}`,
                  },
                }
              )
              .then((el) => {
                if (el.status == "200") {
                  alert("Muvaffaqiyatli qo'shildi");
                  app.$data.link = "";
                } else {
                  alert(
                    "Malumot yuborishda xatolik mavjud Serverga Notogri Malumot yuborilmoqda"
                  );
                }
              });
          },

          async dellLink() {
            await axios({
              method: "delete",

              url: `https://sirses.herokuapp.com/api/Videos?id=${app.$data.delLink}`,
              headers: {
                Authorization: `Bearer ${localStorage.getItem("jwt")}`,
                "Content-Type": " application/json",
              },
            }).then((el) => {
              if (el.status == "200") {
                alert("Muvaffaqiyatli uchirildi");
              }
            });
          },
        },

        async mounted() {
          await axios
            .get("https://sirses.herokuapp.com/api/Videos")
            .then(function (response) {
              // handle success
              console.log(response);
              response.data.forEach((res) => {
                app.$data.items.push(res);
              });
            })
            .catch(function (error) {
              // handle error
              console.log(error);
            })
            .then(function () {
              // always executed
            });
        },
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
